<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.PaipianMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.entity.Paipian">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="tid" property="tid" />
        <result column="gid" property="gid" />
        <result column="price" property="price" />
        <result column="yhprice" property="yhprice" />
        <result column="piaonums" property="piaonums" />
        <result column="startday" property="startday" />
        <result column="endday" property="endday" />
        <result column="opday" property="opday" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, tid, gid, price, yhprice, piaonums, startday, endday, opday, starttime, endtime
    </sql>

</mapper>
